<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 4px;">
    <div class="col-8">
        <h4 style="color:rgb(120,120,120); margin-bottom: 4px;">Session {{session['session_id']}}:
            {{session['session_name']}}
        </h4>
        <div>
            <b>Paticipants: </b> {{session['user_id']}}
        </div>
        <div>
            <b>Date:</b> {{session['date']}}
        </div>
        <div>
            <b>Duration:</b> {{session['duration']}}
        </div>
        <div>
            <b>Performance notes:</b> {{session['performance_notes']}}
        </div>
    </div>
    <div class="col-4 padding-right: 16px;">
        <a href="mailto:huutrungle2001@gmail.com" type="button" class="btn btn-outline-primary">Details</a>

    </div>
</div>